.profile__avatar-edit {
  max-width: 26px;
  max-height: 26px;
  border-radius: 50%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  opacity: 0;
}
.profile__avatar-edit:hover {
  opacity: 0.8;
}
