.item__like {
  min-width: 22px;
  min-height: 19px;
  margin: 22px 20px 0px;
  background: url(../../../images/icons/like.svg) no-repeat center;
  border: none;
  background-color: transparent;
  background-size: auto 100%;
}

.item__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

