.item__like {
  width: 22px;
  height: 19px;
  margin: 30px 20px;
  background: url(../../../images/icons/like.svg) no-repeat center;
  border: none;
  background-color: transparent;
}

.item__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

